---
import Layout from '../layouts/Layout.astro';
import App from '../components/App';
import Menu from '../components/Menu.astro';
---

<Layout title='Cherry pop'>
  <Menu />
	<section class='Cherry_info'>
		<div
    class="flex bg-[url('/img/fondo_CherryPop_dama.jpg')] bg-center bg-cover w-screen h-screen object-cover text-center text-white text-2xl "

			class="bg-[url('/img/fondo_CherryPop_accesorios.jpg')] bg-center bg-cover w-screen h-screen object-cover text-center"
      
		><div class='m-auto items-center py-auto'>
      <p class="mb-4">Cherry Pop</p>
      <p >Tienda Online</p>
      <p class="text-sm mt-20">Completa tu look con los accesorios perfectos.</p>
    </div>
  </div>
	


  <App />
		
	</section>
</Layout>