<section class='bg-[#FC9090]'>
	<div class='flex py-8 text-white text-center text-xs'>
		<div class='w-1/2'>
			<div class='flex justify-center gap-2'>
				<img src='/img/contacto2.png' alt='' class='w-7 h-7' />
				<p class='text-center md:text-start text-lg md:text-xl text-white my-auto'>
					CONTACTO
				</p>
			</div>
      <ul class="my-4">
        <li><a href="#">Villa Génova #159 Colonia Villas del Country 3ra Sección C.P. 37358
        <li><a href="#">León, Guanajuato, México
            </a></li>
        <li><a href="#">Tel. (56) 2643 6635
            </a></li>
        <li class="text-[#B92F22]"><a href="mailto:cherrypop@contacto.com">cherrypop@contacto.com
            </a></li>
    </ul>
		</div>
		<div class="w-1/2">
			<div class='flex justify-center gap-2'>
				<img src='/img/horarios2.png' alt='' class='w-7 h-7' />
				<p class='text-center md:text-start text-lg md:text-xl text-white my-auto'>
					HORARIOS
				</p>
			</div>
      <ul class="my-4">
        <li>Lunes a Viernes: 9:00 a 16:00</li>
        <li class="text-[#B92F22]"><a href="http://www.cherrypop.com" target="_blank">www.cherrypop.com</a></li>
    </ul>
		</div>
	</div>
</section>
